@import url("https://fonts.googleapis.com/css2?family=Texturina:opsz,wght@12..72,100&display=swap");
body {
  font-family: "Texturina", serif;
  color: #060d69;
  font-size: 1.1rem;
}
.main-header {
  display: flex;
  justify-content: center;
  height: 100px;
}
.main-header img {
  transform: scale(0.5);
}
.main-navbar {
  border: 2px solid blue;
  border-width: 3px;
}
.main-navbar ul {
  padding: auto;
  display: flex;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
}
.main-navbar a {
  font-weight: bold;
  color: rgba(28, 140, 173, 0.678);
  text-transform: uppercase;
}
.main-navbar a:hover {
  color: coral;
}
.main-navbar a:active {
  color: yellow;
}
.hero img {
  width: 100%;
  box-shadow: 0 0 4px rgb(23, 23, 23);
  margin-top: 15px;
}
.main-content {
  margin: 20px, 10%;
}
.main-text {
  display: flex;
  justify-content: center;
}
.main-text,
.first,
.second,
.third {
  padding: 30px;
  text-align: justify;
}
.first {
  color: cornflowerblue;
  padding-left: 20px;
  border-left: 2px dotted;
}
.second {
  color: cornflowerblue;
  border-bottom: 2px dotted;
}
.third {
  color: cornflowerblue;
  border-right: 2px dotted;
  margin-left: 20px;
}
.main-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid blue;
  box-sizing: border-box;
}
.main-footer p {
  font-weight: bold;
  text-align: center;
}
