@import "../../styles/variables";
@import "../../styles/mixins";

.MainSection {
  @include flex-element(row, center, center, flex-start, nowrap, 20px);
  height: 100vh;
  background: $bg-color;

  &-body {
    @include flex-element(column, flex-start, flex-start, nowrap, 12px);
    @include dimensions(60%, 83, 81%);
    @include box-model(0, 20px 0);
    color: $main-text-color;
  }

  h2 {
    color: $main-text-color;
  }
}

// .MainSection-body {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
//   height: 83.81%;
//   width: 60%;
//   color: $main-text-color;
//   padding: 20px 0;
//   box-sizing: border-box;
// }
// .MainSection h2 {
//   color: gold;
// }
