@import "../../styles/variables";
@import "../../styles/mixins";

.UpcomingList {
  @include flex-element(row, flex-start, center, wrap, 10px);
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: scroll;
}
