@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  @include flex-element(row, flex-start);
  height: 70px;
  background-color: $bg-color;
  border-bottom: 1px solid $border-color;
  z-index: 9;
  opacity: 0.8;

  ul {
    padding: 0 0 0 20px;
    list-style-type: none;

    li {
      a {
        @include text(medium, 800);
        color: $main-text-color;
      }
    }
  }
}

// .Navbar ul {
//   padding: 0 0 0 20px;
//   list-style-type: none;
// }

// .Navbar ul li a {
//   color: $main-text-color;
//   font-weight: 800;
//   text-decoration: none;
// }
