.Navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: rgb(16, 0, 28);
  border-bottom: 1px solid indigo;
  z-index: 9;
  opacity: 0.8;
}

.Navbar ul {
  padding: 0 0 0 20px;
  list-style-type: none;
}

.Navbar ul li a {
  color: gold;
  font-weight: 800;
  text-decoration: none;
}
